@{
    ViewData["Title"] = "About";
}

<style>
    .jumbotron {
        background-color: lightcyan;
    }
    [class*="col-"] {
        background-color: lightblue;
        border: 1px solid blue;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>
    </div>
</div>

<p>Use this area to provide additional information.</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            One
        </div>
        <div class="col-xs-6 col-md-4">
            Two
        </div>
        <div class="col-xs-6 col-md-4">
            Three
        </div>
        @*couldn't get this to work as expected*@
        @*<div class="clearfix visible-xs"></div>*@
        <div class="col-xs-12 col-md-4">
            Four
        </div>
        <div class="col-xs-12 col-md-4">
            Five
        </div>
    </div>
</div>