@{
    ViewData["Title"] = "Theme Options";
}

<h2>@ViewData["Title"].</h2>

<br /><br />

<h3>Buttons</h3>
<p>
    <button type="button" class="btn btn-default">btn-default</button>
    <button type="button" class="btn btn-primary">btn-primary</button>
    <button type="button" class="btn btn-success">btn-success</button>
    <button type="button" class="btn btn-info">btn-info</button>
    <button type="button" class="btn btn-warning">btn-warning</button>
    <button type="button" class="btn btn-danger">btn-danger</button>
    <button type="button" class="btn btn-link">btn-link</button>
</p>

<br /><br />

<h3>Badges</h3>
<p>
    Random Number (but could be any counter of any kind)
    <span class="badge">@ViewData["Badge"]</span>
</p>

<br /><br />

<h3>Alerts</h3>
<div class="alert alert-success">
    <strong>Sucess!</strong> Well done.
</div>
<div class="alert alert-info">
    <strong>FYI</strong> You might need to know.
</div>
<div class="alert alert-warning">
    <strong>Warning!</strong> Use caution.
</div>
<div class="alert alert-danger">
    <strong>Danger!</strong> Something's wrong!
</div>

<br /><br />

<h3>Nav and Menus</h3>
<p>Tabs:</p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
</ul>