@{ 
    Layout = "";
}
<html>
<body ng-app="personApp">
    <div ng-view>

    </div>
    
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>

    <script src="~/js/spa/personmodule.js"></script>
    <script src="~/js/spa/personroutes.js"></script>
    <script src="~/js/spa/personlistcontroller.js"></script>
    <script src="~/js/spa/persondetailcontroller.js"></script>
</body>
</html>